@model CustoDN.Domain.Customer


@using (Html.BeginForm("Add", "Customer"))
{
    <table style="width:100%">
        <thead>
            <tr>
                <th><b>First Name</b></th>
                <th><b>Last Name</b></th>
                <th><b>Company Name</b></th>
                <th><b>Email</b></th>
                <th><b>Phone</b></th>
                <th><b>Billing Address</b></th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@Html.TextBoxFor(c => c.FirstName)</td>
                    <td>@Html.TextBoxFor(c => c.LastName)</td>
                    <td>@Html.TextBoxFor(c => c.CompanyName)</td>
                    <td>@Html.TextBoxFor(c => c.Email)</td>
                    <td>@Html.TextBoxFor(c => c.Phone)</td>
                    <td>@Html.TextBoxFor(c => c.BillingAddress)</td>
                    <td><input type="Submit" name="Save" class="tiny button" /></td>
                </tr>
        </tbody>
    </table>
}
