@using CustoDN.Domain
@model IEnumerable<Customer>

@{
}

<table style="width:100%">
    <thead>
        <tr>
            <th><b>First Name</b></th>
            <th><b>Last Name</b></th>
            <th><b>Company Name</b></th>
            <th><b>Email</b></th>
            <th><b>Phone</b></th>
            <th><b>Billing Address</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr id=@customer.Id>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.CompanyName</td>
                <td>@customer.Email</td>
                <td>@customer.Phone</td>
                <td>@customer.BillingAddress</td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_Create",new Customer())

@section scripts
{
    <script type="text/javascript">
        $()
    </script>
}
